absl-py==0.9.0
astor==0.8.1
autopep8==1.4.4
certifi==2019.11.28
cffi==1.13.2
chardet==3.0.4
Click==7.0
cycler==0.10.0
Flask==0.12.2
gast==0.3.2
gevent==1.4.0
google-pasta==0.1.8
greenlet==0.4.15
grpcio==1.26.0
gunicorn==19.7.1
h5py==2.10.0
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10.3
joblib==0.14.1
Keras==2.2.5
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
kiwisolver==1.1.0
Markdown==3.1.1
MarkupSafe==1.1.1
matplotlib==3.1.2
numpy==1.17.2
opencv-contrib-python==4.1.2.30
opencv-python==4.1.2.30
pandas==0.25.3
Pillow==7.0.0
protobuf==3.11.2
pycodestyle==2.5.0
pycparser==2.19
PyJWT==1.7.1
pyparsing==2.4.6
python-dateutil==2.8.1
pytz==2019.3
PyYAML==5.3
requests==2.22.0
scikit-learn==0.22.1
scipy==1.4.1
six==1.13.0
sklearn==0.0
tensorboard==1.14.0
tensorflow==1.14.0
tensorflow-estimator==1.14.0
termcolor==1.1.0
twilio==6.35.2
urllib3==1.25.7
Werkzeug==0.14.1
wrapt==1.11.2
